.page {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #333;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}
.nav__links {
  display: flex;
  align-items: center;
  margin-top: 0;
  column-gap: 16px;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  font-weight: bold;
}
.nav__logo {
  width: 80px;
  height: 58px;
}
.nav__link {
  color: #000;
  text-decoration: none;
}
.staff {
  background-image: url("../images/staff_picks_background.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.staff__title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 16px;
  color: white;
}

.staff__subtitle {
  font-size: 20px;
  color: white;
}
.staff__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 40px;
  list-style-type: none;
  padding-left: 0;
  max-width: 760px;
  margin-top: auto;
}

.card {
  border-radius: 8px;
  box-sizing: border-box;
  width: 360px;
  height: 420px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 32px 40px 20px;
}

.card__content {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card__title {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 50px;
}

.card__text {
  overflow: hidder;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px;
  margin-top: 0;
}

.card__footer {
  margin-top: auto;
  font-size: 12px;
  line-height: 16px;
  color: #777;
}
.header__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
  max-width: 600px;
  margin-top: 0;
  margin-bottom: 0;
}
.header__description {
  max-width: 515px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 32px;
  margin-bottom: 0;
}
.header__image {
  max-width: 636px;
  height: auto;
  display: block;
}
.header__footer {
  font-size: 14px;
  line-height: 20px;
  color: #666;
  margin-top: 16px;
  text-align: right;
  padding-right: 80px;
  padding-bottom: 80px;
}
.header__link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.header__address {
  margin: 0;
  color: #838383;
}
